.container {
    width: 300px;
    height: 300px;
    overflow: auto;
    float: left;
}

.scrollbar-container {
    float: left;
    height: 300px;
}

#first-container {
    background-color: #DDD;
}

#second-container {
    margin-top: 10px;
    clear: both;
    background-color: #DDD;
}

.button-container {
    clear: both;
    padding: 10px;
}

.hidden {
    display: none;    
}

.red {
    background-color: red;
}