/*HORIZONTAL*/
.scrollbar.horizontal {
    width: 100%;
    height: 12px;
}
.scrollbar.horizontal .arrow {
    display: inline-block;
    height: 100%;
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
}
.scrollbar.horizontal .left-arrow {
    float: left;
    background-image: url(icon-arrow-left.svg);
}
.scrollbar.horizontal .right-arrow {
    float: right;
    background-image: background-image: url(icon-arrow-right.svg);
}
.scrollbar.horizontal .slider-bed {
    position: relative;
    overflow: hidden;
    height: 8px;
    background-color: #EEE;
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    top: 2px;
}
.scrollbar.horizontal .slider {
    position: absolute;
    width: 100px;
    height: inherit;
    left: 0;
    top: -1px;
    background-color: #CCC;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: content-box;
}
.scrollbar.horizontal .slider:hover {
    background-color: #999;
}
/*HORIZONTAL END*/

/*VERTICAL*/
.scrollbar.vertical {
    width: 12px;
    height: 100%;
    overflow: auto;
    position: relative;    
}
.scrollbar.vertical .arrow {
    position: absolute;
    left: 0px;
    width: inherit;
    height: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.scrollbar.vertical .top-arrow {
    background-image: url(icon-arrow-up.svg);
    top: 0px;
}
.scrollbar.vertical .bottom-arrow {
    background-image: url(icon-arrow-down.svg);
    bottom: 0px;
}
.scrollbar.vertical .slider-bed {
    position: absolute;
    background-color: #EEE;
    border-radius: 5px;
    width: inherit;
    top: 10px;
    bottom: 10px;
    left: 0px;
}
.scrollbar.vertical .slider {
    position: absolute;
    width: inherit;    
    background-color: #CCC;
    border-radius: inherit;
    top: 0;
}
.scrollbar.vertical .slider:hover {
    background-color: #999;
}
/*VERTICAL END*/

.unselectable {
    -moz-user-select: none !important;
    -o-user-select: none !important;
    -khtml-user-select: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.default-cursor {
    cursor: default !important;
}
